    <div class='hddb'></div>    
     <div class="tx-img">
     	 <img src="../images/tx-11.jpg" alt="">
     </div>
	 <div class="tx-main" style="height:1100px;">
	 	  <div class="tx-ma">
	 	  	    <div class="tx-san">
	 	  	    	  <p class="tx-s">三大定向能力覆盖90%以上的中国网民</p>
	 	  	    	  <p class="tx-ss">轻松瞄准您的用户目标</p>
	 	  	    </div>
	 	  	    <div class="tx-ji">
	 	  	    	 <h2>基础用户定向</h2>
	 	  	    	 <p class="tx-t">腾讯社交数据为您提供超过200多种特征和行为标签，您可以自有选择，组合这些特征和行为，准确刻画和锁定您的目标用户进行广告投放。</p>
	 	  	    	 <ul class="tz-le">
	 	  	    	 	 <li>
	 	  	    	 	 	 <img src="../images/tx-1.jpg" alt=""><b> 地理位置</b><br/>
	 	  	    	 	 	 <p>根据用户所在商标，地标，国内省市，国外地区等位置<br/>进行定向</p>
	 	  	    	 	 </li>
	 	  	    	 	  <li>
	 	  	    	 	 	 <img src="../images/tx-2.jpg" alt=""><b> 用户状况</b><br/>
	 	  	    	 	 	 <p>根据学历，婚恋，生活状况，商业兴趣（旅游，汽车，<br/>金融...）等进行定向</p>
	 	  	    	 	 </li>
	 	  	    	 	  <li>
	 	  	    	 	 	 <img src="../images/tx-3.jpg" alt=""><b> 消费能力</b><br/>
	 	  	    	 	 	 <p>根据消费水平，居住生活价格，游戏内付费水平等进行<br/>定向</p>
	 	  	    	 	 </li>
	 	  	    	 	  <li>
	 	  	    	 	 	 <img src="../images/tx-4.jpg" alt=""><b> 移动定位</b><br/>
	 	  	    	 	 	 <p>根据设备价格，操作方式（ios，Android），互联方式<br/>（WiFi，3G,4G）,运营商等定向</p>
	 	  	    	 	 </li>
	 	  	    	 </ul>
	 	  	    	 <ul class="tz-ri">
	 	  	    	 	  <li>
	 	  	    	 	 	 <img src="../images/tx-5.jpg" alt=""><b> 基本信息</b><br/>
	 	  	    	 	 	 <p>根据用户所在商标，地标，国内省市，国外地区等位置<br/>进行定向</p>
	 	  	    	 	 </li>
	 	  	    	 	  <li>
	 	  	    	 	 	 <img src="../images/tx-6.jpg" alt=""><b> 用户行为</b><br/>
	 	  	    	 	 	 <p>根据学历，婚恋，生活状况，商业兴趣（旅游，汽车，<br/>金融...）等进行定向</p>
	 	  	    	 	 </li>
	 	  	    	 	  <li>
	 	  	    	 	 	 <img src="../images/tx-7.jpg" alt=""><b> 天气定向</b><br/>
	 	  	    	 	 	 <p>根据消费水平，居住生活价格，游戏内付费水平等进行<br/>定向</p>
	 	  	    	 	 </li>
	 	  	    	 	  <li>
	 	  	    	 	 	 <img src="../images/tx-8.jpg" alt=""><b> 自定义定向</b><br/>
	 	  	    	 	 	 <p>根据设备价格，操作方式（ios，Android），互联方式<br/>（WiFi，3G,4G）,运营商等定向</p>
	 	  	    	 	 </li>
	 	  	    	 </ul>
                      <div class="tx-ru"><a href="#">如何使用基础用户定向></a></div>
	 	  	    </div> 
	 	  	 </div>
	 	   </div>
                <div class="tx-chi">
                	 <div class="tx-chi-le">
                	 	 <h2>垂直行业定向</h2>
                	 	 <p>将腾讯社交数据与垂直行业的广告投放需求结合，针对重点行业进行深度<br/>定向标签挖掘，为广告主提供贴合行业用户特性的定制化标签，提升广告<br/>效果。<span class="tx-ri">( 目前仅对部分客户开放 )</span></p>
                	 </div>
                	  <div class="tx-chi-ri">
                	  	<img src="../images/tx-9.jpg" alt="">
                	  </div>
                </div>
	 	   


	 	    <div class="tx-xiang">
                	 <div class="tx-chi-le">
                	 	 <img src="../images/tx-10.jpg" alt="">
                	 </div>
                	  <div class="tx-chi-rr">
                	  	<h2>相似人群拓展</h2>
                	 	 <p>基于种子用户画像和社交关系链，从特定种子用户出发，根据种子用户的<br/>行为特征匹配出最为相似的同类消费人群，再根据实际需求，筛选-识别-拓展<br/>更多相似用户，进一步引发更大客户量级的倍增。<span class="tx-ri">( 目前仅对部分客户开放 )</span></p>
                	  </div>
                </div>