	<div class="g_huodong_header">
		<div class="g_huodong_headers">
			<a href="#">了解更多</a>
			<b>></b>
			<span>活动预告</span>
		</div>
	</div>
	<div class="g_cont">
		<div class="g_cont_cont">
			<div class="g_cont_xx">
				<p class="g_xx1">全部</p>
				<p class="g_xx2">线上直播</p>
				<p class="g_xx3"></p>
			</div>
			<div class="g_ww">
				<div class="g_ww1">
					<b>11月03日</b>
					<p>周四</p>
				</div>
				<div class="g_ww2">
					<div class="g_ww2_img"><img src="../images/g_gong1.jpg"></div>
					<div class="g_ww2_gg">
						<span>广告诊断工具 - 值得信任的伙伴</span>
						<p>其他课程分享，请及时关注<z>服务号</z>开课通知</p>
					</div>
				</div>
				<div class="g_ww3"><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" id="g_btn11">报名</button></div>
			</div>
			<div class="g_ww">
				<div class="g_ww1">
					<b>11月08日</b>
					<p>周二</p>
				</div>
				<div class="g_ww2">
					<div class="g_ww2_img"><img src="../images/g_gong2.jpg"></div>
					<div class="g_ww2_gg">
						<span>开户审刻通关秘籍</span>
						<p>其他课程分享，请及时关注<z>服务号</z>开课通知</p>
					</div>
				</div>
				<div class="g_ww3"><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" id="g_btn11">报名</button></div>
			</div>
			<div class="g_ww">
				<div class="g_ww1">
					<b>11月10日</b>
					<p>周四</p>
				</div>
				<div class="g_ww2">
					<div class="g_ww2_img"><img src="../images/g_gong3.jpg"></div>
					<div class="g_ww2_gg">
						<span>Optimized CPA －APP推广成本优化专属解决方案</span>
						<p>其他课程分享，请及时关注<z>服务号</z>开课通知</p>
					</div>
				</div>
				<div class="g_ww3"><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" id="g_btn11">报名</button></div>
			</div>
			<div class="g_ww">
				<div class="g_ww1">
					<b>11月22日</b>
					<p>周二</p>
				</div>
				<div class="g_ww2">
					<div class="g_ww2_img"><img src="../images/g_gong4.jpg"></div>
					<div class="g_ww2_gg">
						<span>了解腾讯社交广告</span>
						<p>其他课程分享，请及时关注<z>服务号</z>开课通知</p>
					</div>
				</div>
				<div class="g_ww3"><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" id="g_btn11">报名</button></div>
			</div>
			<div class="g_ww">
				<div class="g_ww1">
					<b>11月24日</b>
					<p>周四</p>
				</div>
				<div class="g_ww2">
					<div class="g_ww2_img"><img src="../images/g_gong5.jpg"></div>
					<div class="g_ww2_gg">
						<span>腾讯社交广告账户操作入门</span>
						<p>其他课程分享，请及时关注<z>服务号</z>开课通知</p>
					</div>
				</div>
				<div class="g_ww3"><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" id="g_btn11">报名</button></div>
			</div>
			<div class="g_ww">
				<div class="g_ww1">
					<b>11月29日</b>
					<p>周四</p>
				</div>
				<div class="g_ww2">
					<div class="g_ww2_img"><img src="../images/g_gong6.jpg"></div>
					<div class="g_ww2_gg">
						<span>如何让广告顺利通过审核</span>
						<p>其他课程分享，请及时关注<z>服务号</z>开课通知</p>
					</div>
				</div>
				<div class="g_ww3"><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" id="g_btn11">报名</button></div>
			</div>
		</div>
	</div>
	<div class=""></div>