	<div class="g_huodong_header">
		<div class="g_huodong_headers">
			<a href="#">了解更多</a>
			<b>></b>
			<span>学习中心</span>
		</div>
	</div>
	<div class="g_con">
		<div class="g_con_t">
			<div class="g_con_left1">
				<div class="g_con_left_heade">热门内容推荐</div>
				<div class="g_con_left_banner">
					<img src="../images/g_banner.jpg">
					<img src="../images/g_banner1.jpg">
					<img src="../images/g_banner2.jpg">
				</div>
				<div class="g_con_tab">
					<ul>
						<li>如何让广告顺利通过审核</li>
						<li>游戏创意设计及创意审核规范</li>
						<li>了解腾讯社交广告</li>
					</ul>
				</div>
			</div>
			<div class="g_con_right">
				<div class="g_con_right_head">本月在线直播课</div>
				<div class="g_con_right_conde">
					<a href="#">开户审核通关秘籍</a><br/>
					<span><img src="../images/g_biao.jpg"></span>
					<p>11月08日 | 15:00</p>
				</div>
				<div class="g_con_right_conde">
					<a href="#">oCPA －APP推广成本优化专属解决方案</a><br/>
					<span><img src="../images/g_biao.jpg"></span>
					<p>11月10日 | 15:00</p>
				</div>
				<div class="g_con_right_conde">
					<a href="#">了解腾讯社交广告</a><br/>
					<p>11月22日 | 15:00</p>
				</div>
				<div class="g_con_right_conde">
					<a href="#">腾讯社交广告账户操作入门</a><br/>
					<p>11月24日 | 15:00</p>
				</div>
				<div class="g_con_right_con"><a href="#">查看更多 ></a></div>
			</div>

		</div>
	</div>
	<div class="g_tips">
		<div class="g_tips_in">
			<div class="g_tips_in_fo">
				<p>查看步骤指导，快速推广你的产品</p>
				<z class="g_ti">无论您是刚刚开始起步，还是为达成明确目标进行广告投放，这些指南都将让您提升推广效率。</z>
			</div>
			<div class="g_tips_in_to">
				<div class="g_tabs">
					<div class="g_l">
						<div class="g_l2_a1">
							<img src="../images/g_aa_03.jpg">
							<p>开通账户</p>
						</div>
						<div style="clear:both"></div>
						<ul class="g_lists">
							<li><span></span><a href="#">开始了解腾讯社交广告</a></li>
							<li><span></span><a href="#">腾讯社交广告的优势</a></li>
							<li><span></span><a href="#">如何开通推广账户</a></li>
							<li><span></span><a href="#">腾讯社交广告开户必修课</a></li>
						</ul>
					</div>
					<div class="g_l">
						<div class="g_l2_a1">
							<img src="../images/g_aa_05.jpg">
							<p>创建广告</p>
						</div>
						<div style="clear:both"></div>
						<ul class="g_lists">
							<li><span></span><a href="#">账户操作基础</a></li>
							<li><span></span><a href="#">广告创建及管理</a></li>
							<li><span></span><a href="#">了解广告定向能力</a></li>
							<li><span></span><a href="#">广告创建流程详解</a></li>
						</ul>
					</div>
					<div class="g_l">
						<div class="g_l2_a1">
							<img src="../images/g_aa_07.jpg">
							<p>效果评估</p>
						</div>
						<div style="clear:both"></div>
						<ul class="g_lists">
							<li><span></span><a href="#">关键数据指标</a></li>
							<li><span></span><a href="#">操作日志查询方法</a></li>
							<li><span></span><a href="#">数据查询方法</a></li>
							<li><span></span><a href="#">广告投放数据监控</a></li>
						</ul>
					</div>
					<div class="g_l">
						<div class="g_l2_a1">
							<img src="../images/g_aa_12.jpg">
							<p>效果优化</p>
						</div>
						<div style="clear:both"></div>
						<ul class="g_lists">
							<li><span></span><a href="#">点击优化</a></li>
							<li><span></span><a href="#">APP激活成本优化</a></li>
							<li><span></span><a href="#">推广效果优化案例分享</a></li>
							<li><span></span><a href="#">广告曝光优化方法</a></li>
						</ul>
					</div>
					<div class="g_l">
						<div class="g_l2_a1">
							<img src="../images/g_aa_11.jpg">
							<p>辅助工具</p>
						</div>
						<div style="clear:both"></div>
						<ul class="g_lists">
							<li><span></span><a href="#">账户辅助工具</a></li>
							<li><span></span><a href="#">广告诊断工具</a></li>
							<li><span></span><a href="#">创意制作工具</a></li>
							<li><span></span><a href="#">lookalike定向使用指南</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="g_news">
		<div class="g_news_in">
			<div class="g_tips_in_fo">
				<p>查看步骤指导，快速推广你的产品</p>
				<z class="g_ti">无论您是刚刚开始起步，还是为达成明确目标进行广告投放，这些指南都将让您提升推广效率。</z>
			</div>
			<div class="g_t2">
				<div class="g_t">
					<div class="g_t2_a1">
						<img src="../images/g_t1_03.jpg">
						<p>近期升级功能</p>
					</div>
					<div style="clear:both"></div>
					<ul class="g_list">
						<li><span></span><a href="#">了解腾讯社交广告.pdf</a></li>
						<li><span></span><a href="#">了解腾讯社交广告.pdf</a></li>
					</ul>
				</div>
				<div class="g_t">
					<div class="g_t2_a1">
						<img src="../images/g_t1_05.jpg">
						<p>优化指南</p>
					</div>
					<div style="clear:both"></div>
					<ul class="g_list">
						<li><span></span><a href="#">广告诊断工具-值得信任的伙伴.pdf</a></li>
						<li><span></span><a href="#">oCPA-APP推广成本优化方案.pdf</a></li>
					</ul>
				</div>
				<div class="g_t">
					<div class="g_t2_a1">
						<img src="../images/g_t1_07.jpg">
						<p>行业解决方案</p>
					</div>
					<div style="clear:both"></div>
					<ul class="g_list">
						<li><span></span><a href="#">定向方式解析.pdf</a></li>
						<li><span></span><a href="#">广告曝光优化方法.pdf</a></li>
					</ul>
				</div>
				<div class="g_t">
					<div class="g_t2_a1">
						<img src="../images/g_t1_09.jpg">
						<p>产品使用说明</p>
					</div>
					<div style="clear:both"></div>
					<ul class="g_list">
						<li><span></span><a href="#">婚纱摄影行业投放经验分享.pdf</a></li>
						<li><span></span><a href="#">游戏行业广告创意设计指引.pdf</a></li>
					</ul>
				</div>
				
			</div>
		</div>
	</div>
	<div class="g_box">
		<div class="g_box_in"><a href="#"><img src="../images/g_dilan.jpg"></a></div>
	</div>