	<div class="g_content" style="height:380px;position:relative;">
		<div class="g_contents">
			<div class="g_con_header">
				<div class="g_img"><img src="../images/g_zc.jpg"></div>
				<div class="g_zhuce">注册须知</div>
			</div>
			<div class="g_con_left">
				<div class="g_content_left">
					<ul>
						<li><b>加入腾讯社交广告</b><span class="g_ru">></span></li>

						<li><b>开户审核</b><span class="g_ru">></span></li>
						<li><b>充值</b><span class="g_ru">></span></li>
						<li><b>请服务商为我开户</b><span class="g_ru">></span></li>

					</ul>
				</div>
				<div class="g_content_right">
					<h2>腾讯社交广告可以投放在那些平台</h2>
					<div>腾讯社交广告广告位资源包括：qq空间、qq客户端、微信朋友圈、微信公众号、腾讯联盟广告、浏览器、应用宝等，具体展示位由广告主在推广计划中选择的投放平台、广告规格及广告质量得分共同决定。</div>
					<p>查看广告位展示介绍：<span>【点击查看】</span></p>
				</div>
			</div>
		</div>
	</div>
	<div class="g_footer">
		<div class="g_foot" style="position:relative;">
			<div class="g_foot_ia">
				<div class="g_imgs"><img src="../images/g_left1.jpg"></div>
				<div class="g_imgxuexi">
					<div class="g_img1"><img src="../images/g_right1.jpg"></div>
					<div class="g_img2"><b>学习中心</b></div>
				</div>
				<div class="g_wenzi">足不出户学习广告发布、创意策划技巧，熟练掌握各种工具，下载您需要的学习资料。</div>
				<div class="g_jinru">进入在线学习 ></div>
			</div>
			<div class="g_foot_ia">
				<div class="g_imgs"><img src="../images/g_left2.jpg"></div>
				<div class="g_imgxuexi">
					<div class="g_img1"><img src="../images/g_right2.jpg"></div>
					<div class="g_img2"><b>常见问题</b></div>
				</div>
				<div class="g_wenzi">快速查找推广常见问题及支持信息，帮助您解答各类推广难题。</div>
				<div class="g_jinru">进入常见问题 ></div>
			</div>
			<div class="g_foot_ia">
				<div class="g_imgs"><img src="../images/g_left3.jpg"></div>
				<div class="g_imgxuexi">
					<div class="g_img1"><img src="../images/g_right3.jpg"></div>
					<div class="g_img2"><b>活动预告</b></div>
				</div>
				<div class="g_wenzi">选择您需要的线上课程或线下活动与老师交流互动，结识更多的行业营销同人。</div>
				<div class="g_jinru">进入活动预告 ></div>
			</div>
		</div>
	</div>