<!--头部开始-->
    <div class="g_header">
      <div class="g_heade">
        <div class="g_header_in">
          <img src="images/g_logo.jpg">
        </div>
        <div class="g_header_it">
          <h4><b>腾讯社交广告</b></h4>
          <p>Tencent Social Ads</p>
        </div>
        <div class="g_header_ia">
          <img src="images/g_logo1.jpg">
        </div>
        <div class="g_header_ib">营销平台</div>
        <div class="g_header_id"><button ui-sref="nav.zc" type="button" class="btn btn-primary">注册</button></div>
        <div class="g_header_ic"><button type="button" class="btn btn-default btn-lg">登录投放管理平台</button></div>
        
      </div>
    </div>
    <div class="g_nav">
      <div class="g_nav_in">
        <ul>
          <li><a href="#" ui-sref="nav.index">平台概览</a></li>
          <li ui-sref="nav.ziyuan"><a href="#">广告资源</a></li>
          <li ui-sref="nav.dx"><a href="#">广告定向</a></li>
          <li ui-sref="nav.cgal"><a href="#">成功案例</a></li>
          <li class="g_li"><a >了解更多</a>
            <div class="g_div">
              <p ui-sref="nav.zcxz">注册须知</p>
              <p ui-sref="nav.xxzx">学习中心</p>
              <p ui-sref="nav.cjwt">常见问题</p>
              <p ui-sref="nav.hd">活动预告</p>
        </div>
          </li>
          <li><a href="#">流量变更</a></li>
        </ul>
        
      </div>
    </div>
    <!--下拉导航-->
    <div class="gxl_nav">
      <div class="gxl_nav_in">
        <div class="g_header_in">
          <img src="images/g_logo.jpg">
        </div>
        <ul>
          <li><a href="#" ui-sref="nav.index">平台概览</a></li>
          <li ><a href="#" ui-sref="nav.ziyuan">广告资源</a></li>
          <li ><a href="#" ui-sref="nav.dx">广告定向</a></li>
          <li ><a href="#" ui-sref="nav.cgal">成功案例</a></li>
          <li class="g_li"><a >了解更多</a>
            <div class="g_div">
              <p ui-sref="nav.zcxz">注册须知</p>
              <p ui-sref="nav.xxzx">学习中心</p>
              <p ui-sref="nav.cjwt">常见问题</p>
              <p ui-sref="nav.hd">活动预告</p>
        </div>
          </li>
          <li><a href="#">流量变更</a></li>
        </ul>
        <div class="g_header_id"><button ui-sref="nav.zc" type="button" class="btn btn-primary">注册</button></div>
        <div class="g_header_ic"><button type="button" class="btn btn-default btn-lg">登录</button></div>
      </div>
    </div>
    <!--下拉导航结束-->
    <!--头部结束-->
    <!-- <div class="dingbu">回到顶部</div> -->
    <div>
      <div ui-view></div>
    </div>
    
    <div class="tzx-qq">
      <div class="tzx-qq-m">
          <div class="tzx-qq-le">
             <p class="tzx-g">请广告顾问来电为您介绍
             </p>
             <span>留下您的联系方式。我们的顾问将与您联系，免费咨询
             </span>
             <div class="tzx-qi1">
                  <p class="tzx-bo">
                     <b></b>
                     <input type="text"  id="tzx_input" placeholder="企业名称(必填)">
                  </p>
                     <div class="tzx-o">
                      <input type="checkbox" id="tzxgxl" style="margin:0px;" /><span>我是个人广告主</span>
                     </div>
                  <p class="tzx-bo1">
                     <b></b>
                     <input type="text" placeholder="姓名(必填)">
                  </p>
                  <s class="tzx-qing">请输入正确的姓名</s>
                  <p class="tzx-bo2">
                    <b></b>
                     <input type="text" placeholder="手机(必填)">
                  </p>
                    <div class="tzx-qing1">请填写正确的联系人手机号码
                     </div>
                    <p class="tzx-bo3">
                      <b></b>
                       <input type="text" placeholder="邮箱(必填)">
                    </p>
                   </div>
                 <div class="tzx-yuu">
                    <a href="#">预约顾问咨询</a>
                 </div>
              </div>
           
      
          <div class="tzx-qq-ri">
                <p class="tzx-g">新客户咨询专线
             </p>
             <span class="tzx-tong">通过以下方式联系我们的广告专家，了解更多服务及产品信息
             </span>
                <img src="../images/tx-25.jpg" alt="" class="tzx-tu">
                <p class="tzx-dian">
                  400-900-5050
                </p>
                <p class="tzx-wo">
                    我们的工作时间是周一至周五 9:00-18:00
                </p>
      </div>
    </div>
    <div class="tx-zhu" style="clear: both;">
         <p>注册腾讯社交广告账户</p>
         <span>自助开通广告账户</span>
         <a href="#">或请服务商为我开户 ></a>
    </div>
   <div class="tx-fo">
      <div class="tx-ff">
           <p class="tx-tubiao">
              <img src="images/tx-16.jpg" alt="">
           </p>
           <div class="tx-gug">
               <h3>广告资源</h3>
                        <ul>
                            <li><a href="#">QQ空间广告</a></li>
                            <li><a href="#">QQ客户端广告</a></li>
                            <li><a href="#">微信广告</a></li>
                            <li><a href="#">腾讯联盟广告</a></li>
                            <li><a href="#">应用宝广告</a></li>
                            <li><a href="#">手机QQ浏览器广告</a></li>
                        </ul>
           </div>
               <div class="tx-gug">
               <h3>了解更多</h3>
                        <ul>
                            <li><a href="#" ui-sref="nav.zcxz">注册须知</a></li>
                            <li><a href="#" ui-sref="nav.xxzx">学习中心</a></li>
                            <li><a href="#" ui-sref="nav.cjwt">常见问题</a></li>
                            <li><a href="#" ui-sref="nav.hd">活动预告</a></li>
                        </ul>
           </div>
               <div class="tx-wo">
                     <h3>关注我们</h3>
                     <span>腾讯社交广告服务平台</span>
                     <img src="images/tx-17.jpg" alt="">
               </div>
      </div>
      <div class="tx-gu">
          <ul>
                <li class="tx-tt"><a href="#">关于腾讯</a></li>
                <li><a href="#">隐私权保护</a></li>
                <li><a href="#">版权保护投诉指引</a></li>
                <li><a href="#">服务条款</a></li>
            </ul>
            <p>
             <span>Copyright © 1998 - 2016</span> Tencent Inc. All Rights Reserved. 腾讯公司 版权所有
            </p>
      </div>
   </div>


    <div class='hddb'></div>