<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="../styles/success_2.css">
</head>
<body>
	 <div class="tx-img">
	 	  <img src="../images/figer-1.jpg" alt="">
	 </div>
<div class="tx-main1">
	 <div class="tx-pp">
	 	 <div class="tx-po">
	 	       <div class="tx-po1">
	 	       	   <p class="tx-num">58%</p>
	 	       	   <p class="tx-ji">激活均价下降率</p>
	 	       </div>
	 	        <div class="tx-po1">
	 	       	   <p class="tx-num">14倍</p>
	 	       	   <p class="tx-ji">日均曝光量增加</p>
	 	       </div>
	 	        <div class="tx-po2">
	 	       	   <p class="tx-num">29倍</p>
	 	       	   <p class="tx-ji">日均激活量增加</p>
	 	       </div>
	     </div>
	 </div>

	<div class="tx-pin">
		<h3>品牌故事</h3>
		<p>杭州妥妥网络科技有限公司作为一家主打音乐社交领域创业的互联网公司，希望为音乐爱好者们提供一个理想的音乐学习栖息地。旗下产品Finger是一款主打音乐兴趣教育的移动应用，旨在通过科技的帮助让人们更轻松快乐地学习音乐。</p>
	</div>
	<div class="tx-pin">
		<h3>营销痛点</h3>
		<p> 移动教育作为新兴领域，发展前景广阔，Finger需要快速积累目标用户，提升用户APP使用效率，以拔得市场头筹。其次，作为初创公司，产品在快速成长阶段，下载量不足、激活成本高是其目前亟待解决的问题，需要优选高效的推广途径，获得更多品牌曝光。</p>
	</div>
	<div class="tx-pin">
		<h3>营销方案</h3>
		<p>选择在QQ平台投放广告， 锁定目标受众为热爱音乐的年轻人群，通过设定关键词提升目标用户精细度，在降低激活成本的基础上，增加下载量。同时，依托QQ平台广告位的高曝光特性，扩大品牌影响力，以实现营销效果最大化。</p>
	</div>
	<div class="tx-pin1">
		<h3>营销成效</h3>
		<p>精细化定向，实现低成本、高激活、海量曝光</p>
	</div>
	<div class="tx-ta">
		  <img src="../images/figer-2.jpg" alt="">
		  <p>Finger采取移动QQ空间信息流广告精准投放，这与其目标用户是音乐兴趣浓、乐于分享的年轻人高度契合， QQ平台中融入触发性按钮及社交关系链的信息流、UGC形式广告，更易促进广告传播，形成高效用户触达及转化。与此同时，腾讯社交广告运用“极度精准定向”策略帮助Finger缩窄受众触达范围，以基础定向匹配用户年龄、性别、地域等属性，结合Lookalike功能，对用户APP活动的短期行为以及长期兴趣进行限制，挖掘优质用户群。此外，通过设定吉他相关的100多个关键词提升目标用户定向的精细度，帮助Finger收窄人群定向，并不断进行素材优化，形成UGC内容资源优势，使用户对APP产生更大的偏好及粘性， 引发受众自主传播，达到极度精准的营销。</p>
		<span>Finger投放QQ平台后，品牌日曝光量增长14倍，激活均价降低58%的同时，激活量上涨29倍，实现窄众用户的精准触达，营销品效合一。</span>
		<div class="tx-ye">
			<a href="#" class="tx-ye-le">←上一篇</a>
			<a href="#" class="tx-ye-ri">→下一篇</a>
		</div>
	</div>
</div>
<div class="tx-xiang">
	 <p class="tx-xii">相关案例</p>
	 <ul class="tx-fin">
	 	  <li style="margin-left: 0px">
		    		 	  <img src="../images/a_img22.jpg" alt="">
		    		 	  <h3>极度精准定向助力移动应用下载激增</h3>
                          <p>QQ空间广告 | 应用下载 | 提升用户量 | 移动应用</p>
                         </li>
                         <li>
		    		 	  <img src="../images/a_img2.jpg" alt="">
		    		 	  <h3>首次尝鲜大数据，拉动用户指数级增长</h3>
                          <p>QQ空间广告 | 品牌推广 | 教育行业</p>
		    		 </li>
		    		 <li>
		    		 	  <img src="../images/a_img3.jpg" alt="">
		    		 	  <h3>不断迭代数据，提升直营电商ROI</h3>
                         <p>QQ广告 | 提升线上销量 | 电商行业</p>
		    		 </li>	 
	 </ul>
   <p class="tx-see"><a href="#">查看更多案例</a></p>
</div>

</body>
</html>