		<div class="tx-con">
			<img class="a_img" src="../images/a_img1.jpg" alt="" />
		</div>
		
	    <div class="tx-quan">
	    <p class="tx-an">
			 展示您关注的案例
		</p>
	        <ol class="tx-ol">
			   <li style="margin-left: 0px;">
			   	   <s>全部投放行业</s>
			   	   <span></span>
			   	   <div class="tx-tou">
			   	   	  <p style="background: #008de8;color: white">全部投放行业</p>
			   	   	  <p>数码行业</p>
			   	   	  <p>电商行业</p>
			   	   	  <p>移动行业</p>
			   	   	  <p>汽车行业</p>
			   	   	  <p>游戏行业</p>
			   	   	  <p>日化行业</p>
			   	   	  <p>旅行行业</p>
			   	   	  <p>教育行业</p>
			   	   	  <p>服装行业</p>
			   	   	  <p>o2o行业</p>
			   	   	  <p>金融行业</p>
			   	   	  <p>食品行业</p>
			   	   	  <p>婚纱行业</p>
			   	   </div>
			   </li>
			   <li>
			   	   <s>投放目的</s>
			   	   <span></span>
			   	   <div class="tx-tou">
			   	   	  <p style="background: #008de8;color: white">全部投放目的</p>
			   	   	  <p>品牌推广</p>
			   	   	  <p>应用下载</p>
			   	   	  <p>在线销量</p>
			   	   	  <p>线下到店</p>
			   	   	  <p>提高品牌知名度</p>
	
			   	   </div>
			   </li>
			   <li>
			   	   <s>广告资源</s>
			   	   <span></span>
			   	   <div class="tx-tou">
			   	   	  <p style="background: #008de8;color: white">全部广告资源</p>
			   	   	  <p>微信广告</p>
			   	   	  <p>QQ广告</p>
			   	   	  <p>联盟广告</p>
			   	   	  <p>应用宝广告</p>
			   	   	  <p>浏览器广告</p>
	                  <p>QQ空间广告</p>
			   	   	  <p>QQ客户端广告</p>
			   	   </div>
			   </li>
			   <li>
			   	   <s>企业规模</s>
			   	   <span></span>
			   	   <div class="tx-tou">
			   	   	  <p style="background: #008de8;color: white">全部企业规模</p>
			   	   	  <p>发展性企业</p>
			   	   	  <p>大型企业</p>
			   	   </div>
			   </li>
		    </ol>
		    <div class="tx-guang">
		    	<ul class="tx-fin">
		    		 <li style="margin-left: 0px">
		    		 	  <img src="../images/a_img22.jpg" alt="">
		    		 	  <h3>极度精准定向助力移动应用下载激增</h3>
                          <p>QQ空间广告 | 应用下载 | 提升用户量 | 移动应用</p>
                            <div class="tx-la">
                                <div class="tx-la1">
                                    <div class="tx-la11">58%</div>
                                    <div class="tx-la111">激活均价下降率</div>
                                </div>
                                <div class="tx-la2">
                                    <div class="tx-la22">14倍</div>
                                    <div class="tx-la222">日均曝光量增长</div>
                                </div>
                                <div class="tx-la3">
                                    <div class="tx-la33">29倍</div>
                                    <div class="tx-la333">日均激活量增长</div>
                                </div>
                            </div>
		    		 </li>
		    		  <li ui-sref="nav.xq" >
		    		 	  <img src="../images/a_img2.jpg" alt="">
		    		 	  <h3>首次尝鲜大数据，拉动用户指数级增长</h3>
                          <p>QQ空间广告 | 品牌推广 | 教育行业</p>
                            <div class="tx-laa">
                                <div class="tx-la1">
                                    <div class="tx-la11">80%</div>
                                    <div class="tx-la111">获客成本降低</div>
                                </div>
                                <div class="tx-la2">
                                    <div class="tx-la22">5倍</div>
                                    <div class="tx-la222">课程报名量增长</div>
                                </div>
                            </div>
		    		 </li>
		    		 <li>
		    		 	  <img src="../images/a_img3.jpg" alt="">
		    		 	  <h3>不断迭代数据，提升直营电商ROI</h3>
                         <p>QQ广告 | 提升线上销量 | 电商行业</p>
                            <div class="tx-laa">
                                <div class="tx-la1">
                                    <div class="tx-la11">200%</div>
                                    <div class="tx-la111">QOI提升</div>
                                </div>
                                <div class="tx-la2">
                                    <div class="tx-la22">354倍</div>
                                    <div class="tx-la222">点击率</div>
                                </div>
                            </div>

		    		 </li>	 
		    	</ul>
		    	<ul class="tx-fin">
		    		  <li style="margin-left: 0px">
		    		 	  <img src="../images/a_img4.jpg" alt="">
		    		 	  <h3>不断迭代数据，提升直营电商ROI</h3>
                          <p>QQ广告 | 提升线上销量 | 电商行业</p>
                            <div class="tx-laa">
                                <div class="tx-la1">
                                    <div class="tx-la11">200%</div>
                                    <div class="tx-la111">QOI提升</div>
                                </div>
                                <div class="tx-la2">
                                    <div class="tx-la22">354倍</div>
                                    <div class="tx-la222">点击率</div>
                                </div>
                            </div>
		    		 </li>
		    		 <li>
		    		 	  <img src="../images/a_img6.jpg" alt="">
		    		 	  <h3>紧跟社交热点，百年婚纱辟新路</h3>
                         <p>QQ广告 | 婚纱行业 | 线下到店</p>
                            <div class="tx-laa">
                                <div class="tx-la1">
                                    <div class="tx-la11">3~10</div>
                                    <div class="tx-la111">平均投资回报率</div>
                                </div>
                                <div class="tx-la2">
                                    <div class="tx-la22">-60%</div>
                                    <div class="tx-la222">咨询成本</div>
                                </div>
                            </div>
		    		 </li>	 
		    		 <li>
		    		 	  <img src="../images/a_img7.jpg" alt="">
		    		 	  <h3>QQ空间信息流广告，有效提升订单量</h3>
                          <p></p>
                            <div class="tx-la">
                                <div class="tx-la1">
                                    <div class="tx-la11">80%</div>
                                    <div class="tx-la111">有效咨询率</div>
                                </div>
                                <div class="tx-la2">
                                    <div class="tx-la22">20~25</div>
                                    <div class="tx-la222">平均投资回报率</div>
                                </div>
                                <div class="tx-la3">
                                    <div class="tx-la33">-50%</div>
                                    <div class="tx-la333">咨询成本</div>
                                </div>
                            </div>
		    		 </li>
		    	</ul>

               <ul class="tx-fin">
		    		 <li style="margin-left: 0px">
		    		 	  <img src="../images/a_img88.jpg" alt="">
		    		 	  <h3>简化营销链条，让转化“快”到不公平</h3>
                          <p>QQ广告 | 体育用品行业 | 微信广告 | 提升线上销售</p>
                            <div class="tx-la">
                                <div class="tx-la1">
                                    <div class="tx-la11">NO.2</div>
                                    <div class="tx-la111">视频点击率排名</div>
                                </div>
                                <div class="tx-la2">
                                    <div class="tx-la22">TOP10</div>
                                    <div class="tx-la222">视频播放完成率</div>
                                </div>
                                <div class="tx-la3">
                                    <div class="tx-la33">180%</div>
                                    <div class="tx-la333">销量同比增长</div>
                                </div>
                            </div>
		    		 </li>
		    		  <li>
		    		 	  <img src="../images/a_img99.jpg" alt="">
		    		 	  <h3>创意程序化解决广告优化难题</h3>
                          <p>QQ广告 | 微信广告 | 提升品牌知名度 | 电子商务</p>
                            <div class="tx-la">
                                <div class="tx-la1">
                                    <div class="tx-la11">51%</div>
                                    <div class="tx-la111">月均点击率提升</div>
                                </div>
                                <div class="tx-la2">
                                    <div class="tx-la22">72%</div>
                                    <div class="tx-la222">月均曝光量提升</div>
                                </div>
                                <div class="tx-la3">
                                    <div class="tx-la33">1.6秒</div>
                                    <div class="tx-la333">产出创意速度</div>
                                </div>
                            </div>
		    		 </li>
		    		<li>
		    		 	  <img src="../images/a_img100.jpg" alt="">
		    		 	  <h3>数据与厨师的一场“用心”的约会</h3>
                          <p>QQ广告 | 微信广告 | 快消行业 | 提升品牌知名度</p>
                            <div class="tx-la">
                                <div class="tx-la1">
                                    <div class="tx-la11">58%</div>
                                    <div class="tx-la111">曝光率</div>
                                </div>
                                <div class="tx-la2">
                                    <div class="tx-la22">1.8亿</div>
                                    <div class="tx-la222">激活均价下降率</div>
                                </div>
                                <div class="tx-la3">
                                    <div class="tx-la33">9.94%</div>
                                    <div class="tx-la333">视频广告PCR</div>
                                </div>
                            </div>
		    		 </li>
		    	</ul> 
		    	<button class="tx-jia">
		    	加载更多案例
		    </button>
		    </div>
		   
	    </div>