    <div class="tx-main">
    	 <p class="tx-sb">
    	 	三步即可完成注册！
    	 </p>
    	 <div class="tx-zh">
    	 	<ul class="tx-guan">
    	 		<li class="tx-gu">
    	 			 <span class="tx-one">1</span>
    	 			 <span class="tx-zi">填写基本信息</span>
    	 		</li>
    	 		<li class="tx-gu1">
    	 			  <span class="tx-two">2</span>
    	 			 <span class="tx-zi">关联QQ帐号</span>
    	 		</li>
    	 		<li class="tx-gu2">
    	 			  <span class="tx-thr">3</span>
    	 			 <span class="tx-zi">补全资质</span>
    	 		</li>
    	 	</ul>
    	 	<div class="tx-quan-le">
    	 		  <div class="tx-qq">
    	 		  	   <p>
    	 		  	   <img src="../images/tx-zhuce-7.jpg" alt="">
    	 		  	   <span>企业账户</span>
    	 		  	   </p>
    	 		  	   <p class="tx-hu">
    	 		  	   <img src="../images/tx-zhuce-8.jpg" alt="">
    	 		  	   <span>个人账户</span>
    	 		  	   </p>
    	 		  </div>
    	 		  <ul class="tx-xing">
    	 		  	   <li class="tx-xi1"><input type="text" placeholder="姓名"></li>
    	 		  	   <li class="tx-xi1">
    	 		  	   	  <input type="text" placeholder="手机">
    	 		  	   </li>
    	 		  	   <li class="tx-yan">
    	 		  	   	     <input type="text" placeholder="验证码">
    	 		  	   	     <a href="#">获取验证码</a>
    	 		  	   </li>
    	 		  	   <li class="tx-xi2">
    	 		  	   	  <input type="text" id="tx-btn" placeholder="企业名称">
    	 		  	   </li>
    	 		  </ul>
    	 		  <div class="tx-ku">
    	 		  	 <input type="checkbox" class="tx-kk">
    	 		  	 <span>已阅读并同意<a href="#">《腾讯社交广告合作协议》</a></span>
    	 		  </div>
    	 		 <a href="#" class="tx-kai">下一步</a>
    	 	</div>
    	 	<div class="tx-quan-ri">
    	 		<p> 腾讯广告顾问将以官方电话0755-26710666回访并协助您顺利<br/>开始广告投放，请注意接听</p>
    	 	</div>
    	 </div>
    </div>