	<div class="zy_main">
		<img src="../images/zy_banner.jpg" class='zy_banner'>
		<div class="zy_contain">
			<div class="zy_contain_text">
				<h3>腾讯社交广告资源丰富</h3>
				<p>既包括微信、QQ等强势社交产品，也包括用户移动生活所必须的各类应用，贯穿用户每日24小</p>
				<p>时真实生活。</p>
			</div>
			<div class='zy_colum'>
				<div class='zy_padding'>
					<a ui-sref='nav.kj' class='zy_columa xx1'>
						<img src='../images/zy-a1.gif' class='zy-a1'>
						<h3>QQ空间广告</h3>
						<p>QQ空间拥有活跃帐户6.48亿，以原生社交广告为主，帮助品牌有效拉动活动转化，建立品牌认知，和引爆年轻用户的社交效应。</p>
					</a>
				</div>
				<div class='zy_padding'>
					<a ui-sref='nav.gg' class='zy_columa xx2'>
						<img src='../images/zy-a2.gif' class='zy-a1'>
						<h3>QQ客户端广告</h3>
						<p>QQ广告包括QQ PC客户端广告和手机QQ广告，您的广告将通过PC和手机覆盖8.77亿的QQ活跃帐户。</p>
					</a>
				</div>
				<div class='zy_padding'>
					<a ui-sref='nav.wx' class='zy_columa xx3'>
						<img src='../images/zy-a3.gif' class='zy-a1'>
						<h3>微信广告</h3>
						<p>微信广告是出现在朋友圈和公众号文中的，以一种更加贴近用户生活方式呈现的广告形式。</p>
					</a>
				</div>
				<div class='zy_padding'>
					<a ui-sref='nav.lm' class='zy_columa'>
						<img src='../images/zy-a4.gif' class='zy-a1'>
						<h3>腾讯联盟广告</h3>
						<p>汇集100,000+优质APP，覆盖8亿移动端用户，基于腾讯联盟生态体系和广点通技术在腾讯联盟流量上展示的广告。</p>
					</a>
				</div>
				<div class='zy_padding'>
					<a ui-sref='nav.sj' class='zy_columa'>
						<img src='../images/zy-a5.gif' class='zy-a1'>
						<h3>手机QQ浏览器广告</h3>
						<p>手机QQ浏览器拥有月活跃账户2.3亿，是目前手机浏览器市场占有率第一的超级入口，也是用户量高速增长的新兴原生资讯广告场景。</p>
					</a>
				</div>
				<div class='zy_padding'>
					<a ui-sref='nav.yy' class='zy_columa'>
						<img src='../images/zy-a6.gif' class='zy-a1'>
						<h3>应用宝广告</h3>
						<p>腾讯应用宝是中国用户覆盖率第一的安卓应用商店，应用宝广告出现在应用宝首页、各个榜单、搜索等热门位置，是APP广告投放的首选途径。</p>
					</a>
				</div>
			</div>
		</div>
	</div>