	<div class='zy3_main'>
		<div class='zy3_top'>
			<div class='zy3_topf'>
				<div class='zy3_topf_header'>
					<a ui-sref='nav.zhangyang'>广告资源</a>
					<p>> QQ客户端广告</p>
				</div>
			</div>
		</div>
		<div class='zy3_container'>
			<h3>什么是微信朋友圈广告</h3>
			<div class='zy3_container-a'>
				<a href="#">朋友圈广告</a>
				<a href="#">公众号广告</a>
			</div>
			<div class='zy3_container-word'>
				朋友圈广告是基于微信公众号生态体系，以类似朋友的原创内容形式在朋友圈中展示的原生广告。<br>用户可以通过点赞、评论等方式进行互动，并依托社交关系链传播，为品牌推广带来加成效应，按曝光次数计费。
			</div>
			<div class='zy3_container-list'>
				<ul>
					<li>
						<img src='../images/zy_list1.gif' class='zy3_imglist1'>
						<h4>排期购买</h4>
						<p>可预定未来2-28个自然日的流量<br>CPM计费模式<br>单次投放预算5万起</p>
					</li>
					<li>
						<img src='../images/zy_list2.gif' class='zy3_imglist2'>
						<h4>竞价购买</h4>
						<p>基于实时效果调整出价<br>CPM计费模式<br>单价30元起自由竞价，每日预算1000元起</p>
					</li>
				</ul>
			</div>
		</div>
		<div class='zy3_xingtai'>
			<h4 class="zy3-title-small">广告形态</h4>
        	<h3 class="zy3-title-big">契合朋友圈浏览体验的广告形态</h3>
        	<div class='zy3_contaniner'>
				<div class='zy3_contaniner1'>
					<div class="zy3_container1_text">
	                    <h4>图文广告</h4>
	                    <p>如同朋友圈好友动态的形态结构，文字、图片、链接可灵活自由配置，提供多样的展示形式，满足个性化的创意表达。</p>
					</div>
					<div class="zy3_container1_pic">
						<div class='zy3_container1_paper'>
							<div class='zy3_yidong'>
								<div class='zy3_color'></div>
								<div class='zy3_xian_top xian'></div>
								<div class='zy3_xian_bottom xian'></div>
								<div class='zy3_color_pic'>
									<img src='../images/moments-pic1.jpg'>
								</div>
							</div>
						</div>
					</div>
				</div>


				<div class='zy3_contaniner2'>
					<div class="zy3_container2_text">
	                    <h4>视频广告</h4>
	                    <p>外层小视频默认播放，点击进入完整视频，同时可选择跳转链接，层层深入，将目标受众“自然地”带入故事情境之中，生动呈现品牌主张。</p>
					</div>
					<div class="zy3_container2_pic">
						<div class='zy3_container2_paper'>
							<div class='zy3_yidong2'>
								<div class='zy3_color2'></div>
								<div class='zy3_xian_top1 xian1'></div>
								<div class='zy3_xian_bottom1 xian1'></div>
								<div class='zy3_color_pic2'>
									<img src='../images/moments-pic2.jpg'>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class='zy3_mubiao'>
			<h4 class="title-small">投放支持</h4>
        	<h3 class="title-big">满足您的多元推广目标</h3>
        	<div class='zy3_tab'>
        	 	<a href="javascript:;" class='zy3_active'>品牌活动推广</a>
            	<a href="javascript:;">公众号推广</a>
            	<a href="javascript:;">移动应用推广</a>
        	</div>
			<div class='zy3_tabqiehuan'>
					<div class='zy3_qiehuan'>
		        		<div class='zy3_swiper'>
		        			<div class="swiper-slide">
			                    <p class="diversity-desc">广告融入生活场景，让用户知道、喜欢您的品牌，通过互动连接品牌与用户，提升品牌认知并传播。</p>
			                    <div class="pic">
			                        <img src="../images/diversity2.jpg">
			                    </div>
			                </div>
			                
			                <div class="swiper-slide">
			                    <p class="diversity-desc">在朋友圈推广公众号，让“关注”一键直达，广告的自然呈现也为品牌价值加分。</p>
			                    <div class="pic">
			                         <img src="../images/diversity3.jpg">
			                    </div>
			                </div>
			                
			                <div class="swiper-slide">
			                    <p class="diversity-desc">在朋友圈推广移动应用，朋友间的互动转发将有效拉动应用下载激活，提升应用认知度和使用量。</p>
			                    <div class="pic">
			                        <img src="../images/diversity4.jpg">
			                    </div>
			                </div>
		        		</div>
				</div>
        	</div>
		</div>
	</div>