	<div class='zy5_main'>
		<div class='zy5_top'>
			<div class='zy5_topf'>
				<div class='zy5_topf_header'>
					<a ui-sref='nav.zhangyang'>广告资源</a>
					<p>> 联盟广告</p>
				</div>
			</div>
		</div>
		<div class='zy5_container'>
			<h3>什么是手机QQ浏览器广告</h3>
			<p>手机QQ浏览器依托腾讯社交大数据，结合深度分析的用户浏览兴趣偏好，再一次将沉浸式的原生广告体验呈现在用户面前。<br>您的广告将主要出现在资讯信息流、内容详情页、视频暂停画面中.</p>
			<ul>
				<li>
					<div>
                        <b>2.3亿+</b>
                        <span>平均月活跃用户数</span>
                    </div>
				</li>
				<li>
					 <div>
                        <b>1400亿+</b>
                        <span>浏览器平均月PV</span>
                    </div>
				</li>
				<li>
					 <div>
                        <b>第1名</b>
                        <span>手机浏览器市场占有率</span>
                    </div>
				</li>
				<li>
					 <div>
                        <b>第4名</b>
                        <span>安卓应用排名</span>
                    </div>
				</li>
			</ul>
		</div>
		<div class='zy5_w'>
		<div class='zy5_bottom'>
			<div class='zy_kong'></div>
			<h3>您的广告可以展示在这里</h3>
			<div class="zy5_con">
				<div class='zy5_contaniner1'>
					<div class="zy5_container1_text">
	                    <h4>原生广告</h4>
	                    <p>您的广告样式将与其所在页面的内容、形式和体验高度统一，根据所在页面的环境，支持GIF、图片、图文、视频创意。原生广告对用户的干扰度低，与用户的相关性高，能够提供给用户最佳的广告体验。您可以在信息流、图片墙、小说/音乐列表、下载列表页等多种位置上投放原生广告。</p>
					</div>
					<div class="zy5_container1_pic">
						<div class='zy5_container1_paper'>
							<div class='zy5_yidong'>
								<div class='zy5_color'></div>
								<div class='zy5_xian_top xian'></div>
								<div class='zy5_xian_bottom xian'></div>
								<div class='zy5_color_pic'>
									<img src='../images/browser-pic1.jpg'>
								</div>
							</div>
						</div>
					</div>
				</div>


				<div class='zy5_contaniner2'>
					<div class="zy5_container2_text">
	                    <h4>开屏广告</h4>
	                    <p>移动端尺寸最大的广告样式，支持GIF、图片、图文创意；开屏广告在APP启动时加载，全屏显示您的广告创意，展示完毕后自动关闭并进入APP，支持全屏显示下的广告点击。
	                    </p>
					</div>
					<div class="zy5_container2_pic">
						<div class='zy5_container2_paper'>
							<div class='zy5_yidong2'>
								<div class='zy5_color2'></div>
								<div class='zy5_xian_top1 xian1'></div>
								<div class='zy5_xian_bottom1 xian1'></div>
								<div class='zy5_color_pic2'>
									<img src='../images/browser-pic2.jpg'>
								</div>
							</div>
						</div>
					</div>
				</div>



				<div class='zy5_contaniner3'>
					<div class="zy5_container3_text">
	                    <h4>插屏广告</h4>
                    	<p>支持两种规格尺寸，支持GIF、图片、图文、视频、动态创意、H5富媒体；插屏广告与横幅广告相比展现尺寸更大，同样能够满足您对大量曝光和用户转化的需求。
                    	</p>
					</div>
					<div class="zy5_container3_pic">
						<div class='zy5_container3_paper'>
							<div class='zy5_yidong3'>
								<div class='zy5_color3'></div>
								<div class='zy5_xian_top3 xian3'></div>
								<div class='zy5_xian_bottom3 xian3'></div>
								<div class='zy5_color_pic3'>
									<img src='../images/browser-pic3.jpg'>
								</div>
							</div>
						</div>
					</div>
				</div>


				<div class='zy5_contaniner4'>
					<div class="zy5_container4_text">
	                    <h4>横幅广告</h4>
                    	<p>支持多种规格尺寸，支持GIF、图片、图文 、文字链、H5富媒体；既能够满足您对大量曝光的需求，也支持应用直达，满足您对用户转化的需求。
                    	</p>
					</div>
					<div class="zy5_container4_pic">
						<div class='zy5_container4_paper'>
							<div class='zy5_yidong4'>
								<div class='zy5_color4'></div>
								<div class='zy5_xian_top4 xian4'></div>
								<div class='zy5_xian_bottom4 xian4'></div>
								<div class='zy5_color_pic4'>
									<img src='../images/browser-pic4.jpg'>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
		</div>
	</div>