	<div class='zy6_main'>
		<div class='zy6_top'>
			<div class='zy6_topf'>
				<div class='zy6_topf_header'>
					<a ui-sref='nav.zhangyang'>广告资源</a>
					<p>> 联盟广告</p>
				</div>
			</div>
		</div>
		<div class='zy6_container'>
			<h3>什么是手机QQ浏览器广告</h3>
			<p>手机QQ浏览器依托腾讯社交大数据，结合深度分析的用户浏览兴趣偏好，再一次将沉浸式的原生广告体验呈现在用户面前。<br>您的广告将主要出现在资讯信息流、内容详情页、视频暂停画面中.</p>
		</div>
		<div class='zy6_w'>
		<div class='zy6_bottom'>
			<div class='zy_kong'></div>
			<h3>您的广告可以展示在这里</h3>
			<p class='zy_word'>以人为本的定向，构建垂直行业立体受众营销模型，具有其他定向方式无法相比的目标命中率。</p>
			<div class="zy6_con">
				<div class='zy6_contaniner1'>
					<div class="zy6_container1_text">
	                    <h4>板块信息流广告</h4>
	                    <p>展示在首页发现、必备、榜单、软件四大热门板块的原生信息流广告，当用户逛应用宝的四大板块时，根据广点通千人千面的精准用户画像和广告出价，广告应用将直接展示在下载意愿最高的用户的应用信息流之中。</p>
					</div>
					<div class="zy6_container1_pic">
						<div class='zy6_container1_paper'>
							<div class='zy6_yidong'>
								<div class='zy6_color'></div>
								<div class='zy6_xian_top xian'></div>
								<div class='zy6_xian_bottom xian'></div>
								<div class='zy6_color_pic'>
									<img src='../images/app-pic1.jpg'>
								</div>
							</div>
						</div>
					</div>
				</div>


				<div class='zy6_contaniner2'>
					<div class="zy6_container2_text">
	                    <h4>搜索广告</h4>
	                    <p>搜索广告分为“搜索直达广告”和“搜索结果广告”，皆根据用户在搜索时输入的关键词与广告应用描述的匹配程度展示。
						当用户在输入状态时出现“搜索直达广告”，完成输入并点击搜索时出现“搜索结果页广告。
	                    </p>
					</div>
					<div class="zy6_container2_pic">
						<div class='zy6_container2_paper'>
							<div class='zy6_yidong2'>
								<div class='zy6_color2'></div>
								<div class='zy6_xian_top1 xian1'></div>
								<div class='zy6_xian_bottom1 xian1'></div>
								<div class='zy6_color_pic2'>
									<img src='../images/app-pic2.jpg'>
								</div>
							</div>
						</div>
					</div>
				</div>



				<div class='zy6_contaniner3'>
					<div class="zy6_container3_text">
	                    <h4>相关应用推荐广告</h4>
                    	<p>当用户在下载或浏览某款或某一类的应用时，根据应用的相关性，结合广告主在投放时描述的用户画像，广告应用将会被推荐在用户面前。
						支持相关应用推荐的场景有：应用详情页相关推荐、详情页相关页推荐、下载关联推荐、实时下载爆款、标签页面、分类页面。
                    	</p>
					</div>
					<div class="zy6_container3_pic">
						<div class='zy6_container3_paper'>
							<div class='zy6_yidong3'>
								<div class='zy6_color3'></div>
								<div class='zy6_xian_top3 xian3'></div>
								<div class='zy6_xian_bottom3 xian3'></div>
								<div class='zy6_color_pic3'>
									<img src='../images/app-pic3.jpg'>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
	</div>