	<div class='zy1_main'>
		<div class='zy1_top'>
			<div class='zy1_topf'>
				<div class='zy1_topf_header'>
					<a ui-sref='nav.zhangyang'>广告资源</a>
					<p>> qq空间广告</p>
				</div>
				<div class='zy1_topf_bottom'>
					<h3 class='title-big'>什么是QQ空间广告</h3>
					<div class="description-word">
        				QQ空间拥有活跃账户6.4亿，6成以上的用户为90后年轻用户。<br>
        				QQ空间信息流广告出现在用户的好友动态中，是一种融入在用户UGC中的原生社交广告，<br>拥有用户天然、无违和感的关注，非常适合品牌在社交场景与年轻人沟通。
        			</div>
				</div>
			</div>
		</div>
		<div class='zy1_bottom'>
			<div class='zy1_lingjian'>
				<p class='zy1_lingjian1'>您的广告可以展现在这里</p>
				<p class='zy1_lingjian2'>
					<a href="#" class='zy1_yidong'>移动端</a>
					<a href="#" class='zy1_zhuomian'>桌面端</a>
				</p>
			</div>
			<div class='zy1_contaniner'>
				<div class='zy1_contaniner1'>
					<div class="zy1_container1_text">
						<div class="zy1_most">最效率</div>
	                    <h4>图文广告</h4>
	                    <p>您只需要提供一张图片，即可在用户的好友动态中投放一条图文广告。图文广告支持点击链接跳转至您提供的目标页面，您可以实现与用户进行活动互动、引导移动应用下载、优惠购买等多种丰富品牌活动。</p>
					</div>
					<div class="zy1_container1_pic">
						<div class='zy1_container1_paper'>
							<div class='zy1_yidong'>
								<div class='zy1_color'></div>
								<div class='zy1_xian_top xian'></div>
								<div class='zy1_xian_bottom xian'></div>
								<div class='zy1_color_pic'>
									<img src='../images/mobile-mix.jpg'>
								</div>
							</div>
						</div>
					</div>
				</div>


				<div class='zy1_contaniner2'>
					<div class="zy1_container2_text">
						<div class="zy1_most">最丰富</div>
	                    <h4>视频广告</h4>
	                    <p>15秒视频广告是最受广告主欢迎的创意形式之一，点击率保持领先。特别适合有视频传播计划的品牌，通过QQ空间精准锁定目标人群，在社交场景与用户沟通。</p>
					</div>
					<div class="zy1_container2_pic">
						<div class='zy1_container2_paper'>
							<div class='zy1_yidong2'>
								<div class='zy1_color2'></div>
								<div class='zy1_xian_top1 xian1'></div>
								<div class='zy1_xian_bottom1 xian1'></div>
								<div class='zy1_color_pic2'>
									<img src='../images/mobile-mix1.jpg'>
								</div>
							</div>
						</div>
					</div>
				</div>



				<div class='zy1_contaniner3'>
					<div class="zy1_container3_text">
						<div class="zy1_most">最沉浸</div>
	                    <h4>沉浸视频流广告</h4>
	                    <p>沉浸视频流广告将用户带入“关灯效果“的沉浸体验，让用户高度聚焦在广告视频上。用户在QQ空间观看视频完毕时，会自动上滑到下一个视频，您的广告视频会被推荐在内容高度相关的内容场景。</p>
					</div>
					<div class="zy1_container3_pic">
						<div class='zy1_container3_paper'>
							<div class='zy1_yidong3'>
								<div class='zy1_color3'></div>
								<div class='zy1_xian_top3 xian3'></div>
								<div class='zy1_xian_bottom3 xian3'></div>
								<div class='zy1_color_pic3'>
									<img src='../images/mobile-mix2.jpg'>
								</div>
							</div>
						</div>
					</div>
				</div>


				<div class='zy1_contaniner4'>
					<div class="zy1_container4_text">
						<div class="zy1_most">讲故事</div>
	                    <h4>多图轮播广告</h4>
	                    <p>多图轮播广告支持使用3张图来展示一支广告，可以承载更丰富、灵活的创意，更适合品牌讲好一个广告故事。国内外业内的实践证明，在移动端呈现较丰富的内容，横划的体验比点击跳转更好！</p>
					</div>
					<div class="zy1_container4_pic">
						<div class='zy1_container4_paper'>
							<div class='zy1_yidong4'>
								<div class='zy1_color4'></div>
								<div class='zy1_xian_top4 xian4'></div>
								<div class='zy1_xian_bottom4 xian4'></div>
								<div class='zy1_color_pic4'>
									<img src='../images/mobile-mix3.jpg'>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class='zy1_contaniner5'>
					<div class="zy1_container5_text">
						<div class="zy1_most">最参与</div>
	                    <h4>品牌页卡广告</h4>
	                    <p>沉浸视频流广告将用户带入“关灯效果“的沉浸体验，让用户高度聚焦在广告视频上。用户在QQ空间观看视频完毕时，会自动上滑到下一个视频，您的广告视频会被推荐在内容高度相关的内容场景。</p>
					</div>
					<div class="zy1_container5_pic">
						<div class='zy1_container5_paper'>
							<div class='zy1_yidong5'>
								<div class='zy1_color5'></div>
								<div class='zy1_xian_top5 xian5'></div>
								<div class='zy1_xian_bottom5 xian5'></div>
								<div class='zy1_color_pic5'>
									<img src='../images/mobile-mix4.jpg'>
								</div>
							</div>
						</div>
					</div>
				</div>


				<div class='zy1_contaniner6'>
					<div class="zy1_container6_text">
						<div class="zy1_most">最生动</div>
	                    <h4>微动广告</h4>
	                    <p>介于静止的图片和动态图之间，通过创造时空静止的“违和感”来塑造一种诙谐的意境；在小屏可以体现出产品丰富的质感使得微动广告备受大牌欢迎。</p>
					</div>
					<div class="zy1_container6_pic">
						<div class='zy1_container6_paper'>
							<div class='zy1_yidong6'>
								<div class='zy1_color6'></div>
								<div class='zy1_xian_top6 xian6'></div>
								<div class='zy1_xian_bottom6 xian6'></div>
								<div class='zy1_color_pic6'>
									<img src='../images/mobile-mix5.jpg'>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>