	<div class='zy2_main'>
		<div class='zy2_top'>
			<div class='zy2_topf'>
				<div class='zy2_topf_header'>
					<a ui-sref='nav.zhangyang'>广告资源</a>
					<p>> QQ客户端广告</p>
				</div>
				<div class='zy2_topf_bottom'>
					<h3 class='title-big'>什么是QQ客户端广告</h3>
					<div class="description-word">
        				QQ智能终端拥有6.4亿活跃帐户，整体最高同时在线帐户数达2.4亿。<br>基于腾讯海量用户行为数据和跨屏帐户体系，<br>拥有用户天然、无违和感的关注，非常适合品牌在社交场景与年轻人沟通。QQ客户端广告可以支持人群属性标签、LBS、场景定向等多种灵活、精准的人群触达方式，<br>是适用于移动应用下载、电商购买、品牌活动等多种广告目标的原生社交广告。
        			</div>
				</div>
			</div>
		</div>
		<div class='zy2_bottom'>
			<div class='zy2_lingjian'>
				<p class='zy2_lingjian1'>您的广告可以展现在这里</p>
				<p class='zy2_lingjian2'>
					<a href="#">移动端</a>
					<a href="#">桌面端</a>
				</p>
			</div>
			<div class='zy2_contaniner'>
				<div class='zy2_contaniner1'>
					<div class="zy2_container1_text">
	                    <h4>QQ购物号信息广告</h4>
	                    <p>QQ购物号是覆盖了3亿具有高商业价值手Q用户的腾讯官方服务号。腾讯社交广告与QQ购物号共同推出的原生化信息广告可高效、精准触达海量QQ用户。通过图文形式提升广告对用户的吸引力。</p>
					</div>
					<div class="zy2_container1_pic">
						<div class='zy2_container1_paper'>
							<div class='zy2_yidong'>
								<div class='zy2_color'></div>
								<div class='zy2_xian_top xian'></div>
								<div class='zy2_xian_bottom xian'></div>
								<div class='zy2_color_pic'>
									<img src='../images/qq-mobile-shopping1.jpg'>
								</div>
							</div>
						</div>
					</div>
				</div>


				<div class='zy2_contaniner2'>
					<div class="zy2_container2_text">
	                    <h4>“今日热点”信息流广告</h4>
	                    <p>广告无违和感融入手机QQ新闻插件的今日热点板块之中，通常在第8条新闻位置出现，广告可以和新闻一样获得用户关注，特别适合资讯性广告素材投放。
	                    </p>
					</div>
					<div class="zy2_container2_pic">
						<div class='zy2_container2_paper'>
							<div class='zy2_yidong2'>
								<div class='zy2_color2'></div>
								<div class='zy2_xian_top1 xian1'></div>
								<div class='zy2_xian_bottom1 xian1'></div>
								<div class='zy2_color_pic2'>
									<img src='../images/qq-mobile-shopping2.jpg'>
								</div>
							</div>
						</div>
					</div>
				</div>



				<div class='zy2_contaniner3'>
					<div class="zy2_container3_text">
	                    <h4>正文底部Banner广告</h4>
                    	<p>广告位于手机QQ新闻插件新闻内容下方，通过大图形式更直观的展现广告内容，同时获得用户更多注意力。
                    	</p>
					</div>
					<div class="zy2_container3_pic">
						<div class='zy2_container3_paper'>
							<div class='zy2_yidong3'>
								<div class='zy2_color3'></div>
								<div class='zy2_xian_top3 xian3'></div>
								<div class='zy2_xian_bottom3 xian3'></div>
								<div class='zy2_color_pic3'>
									<img src='../images/qq-mobile-shopping3.jpg'>
								</div>
							</div>
						</div>
					</div>
				</div>


				<div class='zy2_contaniner4'>
					<div class="zy2_container4_text">
	                    <h4>QQ天气广告</h4>
                    	<p>广告出现在QQ天气下方，广告环境纯粹，聚焦度高，很适合有天气场景相关营销诉求的产品投放，用户通过QQ天气公众号推送也可到达广告页面。
                    	</p>
					</div>
					<div class="zy2_container4_pic">
						<div class='zy2_container4_paper'>
							<div class='zy2_yidong4'>
								<div class='zy2_color4'></div>
								<div class='zy2_xian_top4 xian4'></div>
								<div class='zy2_xian_bottom4 xian4'></div>
								<div class='zy2_color_pic4'>
									<img src='../images/qq-mobile-shopping4.jpg'>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class='zy2_contaniner5'>
					<div class="zy2_container5_text">
	                    <h4>兴趣部落Banner广告</h4>
                    	<p>兴趣部落是一款全量覆盖千万级PV的产品，广告位于兴趣部落话题底部，靠近互动区域的广告位很容易获得用户注意。
                    	</p>
					</div>
					<div class="zy2_container5_pic">
						<div class='zy2_container5_paper'>
							<div class='zy2_yidong5'>
								<div class='zy2_color5'></div>
								<div class='zy2_xian_top5 xian5'></div>
								<div class='zy2_xian_bottom5 xian5'></div>
								<div class='zy2_color_pic5'>
									<img src='../images/qq-mobile-shopping5.jpg'>
								</div>
							</div>
						</div>
					</div>
				</div>


				<div class='zy2_contaniner6'>
					<div class="zy2_container6_text">
						<h4>“附近的人”信息流广告</h4>
                    	<p>广告出现在附近人群信息流中的第7条位置，可以支持下载应用或链接至您的H5落地页，是一种转化较高效的LBS精准广告形态。广告中还可显示您的门店和用户的距离，适合门店或其他地理布局广泛业务的O2O广告主。
                    	</p>
					</div>
					<div class="zy2_container6_pic">
						<div class='zy2_container6_paper'>
							<div class='zy2_yidong6'>
								<div class='zy2_color6'></div>
								<div class='zy2_xian_top6 xian6'></div>
								<div class='zy2_xian_bottom6 xian6'></div>
								<div class='zy2_color_pic6'>
									<img src='../images/qq-mobile-shopping6.jpg'>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class='zy2_contaniner7'>
					<div class="zy2_container7_text">
	                    <h4>兴趣部落Banner广告</h4>
                    	<p>兴趣部落是一款全量覆盖千万级PV的产品，广告位于兴趣部落话题底部，靠近互动区域的广告位很容易获得用户注意。
                    	</p>
					</div>
					<div class="zy2_container7_pic">
						<div class='zy2_container7_paper'>
							<div class='zy2_yidong7'>
								<div class='zy2_color7'></div>
								<div class='zy2_xian_top7 xian7'></div>
								<div class='zy2_xian_bottom7 xian7'></div>
								<div class='zy2_color_pic7'>
									<img src='../images/qq-mobile-shopping7.jpg'>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>