	<div class='zy4_main'>
		<div class='zy4_top'>
			<div class='zy4_topf'>
				<div class='zy4_topf_header'>
					<a ui-sref='nav.zhangyang'>广告资源</a>
					<p>> 联盟广告</p>
				</div>
			</div>
		</div>
		<div class='zy4_container'>
			<h3>什么是联盟广告</h3>
			<p>腾讯联盟广告，是基于腾讯联盟生态体系，依托广点通技术，在腾讯联盟流量上展示的广告。</p>
			<ul>
				<li>
					<div>
                        <b>100,000+</b>
                        <span>汇集优质APP数量</span>
                    </div>
				</li>
				<li>
					 <div>
                        <b>75%</b>
                        <span>Hero APP占比</span>
                    </div>
				</li>
				<li>
					 <div>
                        <b>8亿</b>
                        <span>移动端用户数量</span>
                    </div>
				</li>
				<li>
					 <div>
                        <b>15亿</b>
                        <span>每日广告曝光数量</span>
                    </div>
				</li>
			</ul>
			<div class='zy4_banner'>
				<img src='../images/tsa-banner.jpg'>
			</div>
		</div>
		<div class='zy4_list'>
			<div class='zy4_listf'>
				<h3 class='zy4_title'>技术优势让您通过广告获得更多收益</h3>
				<ul>
					<li>
						<div class="zy4_column">
		                    <img src='../images/zy4_biao1.gif'>
		                    <h4>投放精准</h4>
		                    <p>基于QQ、微信用户数据，为您提供众多标签类目，实现精准定向；您可选择特定投放目标及平均出价，回传相关效果数据，借助算法模型，向预估转化率最高的受众与广告位组合优先展示广告。</p>
		                </div>
					</li>
					<li>
						<div class="zy4_column">
		                    <img src='../images/zy4_biao2.gif'>
		                    <h4>体验优化</h4>
		                    <p>支持视频、动态创意及H5富媒体交互等广告展示形态，力保创意得到最佳展现；支持应用直达，用户点击您的广告后，会直接到达您的APP内指定页面，减少页面跳转中的流失。</p>
		                </div>
					</li>
					<li>
						<div class="zy4_column">
		                    <img src='../images/zy4_biao3.gif'>
		                    <h4>作弊识别</h4>
		                    <p>40多个独立维度及上百种策略支持实时和离线检测，确保流量真实；无效曝光和点击免于计费，有效利用预算；仅关闭按钮误点优化，将为您节约10% 的APP 下载成本。</p>
		                </div>
					</li>
				</ul>
			</div>
		</div>
		<div class='zy4_bottom'>
			<h3>您的广告可以展示在这里</h3>
			<p>契合您的推广目标、创意展现需求和所依托流量特点的多种广告样式。</p>
			<div class="zy4_con">
				<div class='zy4_contaniner1'>
					<div class="zy4_container1_text">
	                    <h4>原生广告</h4>
	                    <p>您的广告样式将与其所在页面的内容、形式和体验高度统一，根据所在页面的环境，支持GIF、图片、图文、视频创意。原生广告对用户的干扰度低，与用户的相关性高，能够提供给用户最佳的广告体验。您可以在信息流、图片墙、小说/音乐列表、下载列表页等多种位置上投放原生广告。</p>
					</div>
					<div class="zy4_container1_pic">
						<div class='zy4_container1_paper'>
							<div class='zy4_yidong'>
								<div class='zy4_color'></div>
								<div class='zy4_xian_top xian'></div>
								<div class='zy4_xian_bottom xian'></div>
								<div class='zy4_color_pic'>
									<img src='../images/tsa-pic1.jpg'>
								</div>
							</div>
						</div>
					</div>
				</div>


				<div class='zy4_contaniner2'>
					<div class="zy4_container2_text">
	                    <h4>开屏广告</h4>
	                    <p>移动端尺寸最大的广告样式，支持GIF、图片、图文创意；开屏广告在APP启动时加载，全屏显示您的广告创意，展示完毕后自动关闭并进入APP，支持全屏显示下的广告点击。
	                    </p>
					</div>
					<div class="zy4_container2_pic">
						<div class='zy4_container2_paper'>
							<div class='zy4_yidong2'>
								<div class='zy4_color2'></div>
								<div class='zy4_xian_top1 xian1'></div>
								<div class='zy4_xian_bottom1 xian1'></div>
								<div class='zy4_color_pic2'>
									<img src='../images/tsa-pic2.jpg'>
								</div>
							</div>
						</div>
					</div>
				</div>



				<div class='zy4_contaniner3'>
					<div class="zy4_container3_text">
	                    <h4>插屏广告</h4>
                    	<p>支持两种规格尺寸，支持GIF、图片、图文、视频、动态创意、H5富媒体；插屏广告与横幅广告相比展现尺寸更大，同样能够满足您对大量曝光和用户转化的需求。
                    	</p>
					</div>
					<div class="zy4_container3_pic">
						<div class='zy4_container3_paper'>
							<div class='zy4_yidong3'>
								<div class='zy4_color3'></div>
								<div class='zy4_xian_top3 xian3'></div>
								<div class='zy4_xian_bottom3 xian3'></div>
								<div class='zy4_color_pic3'>
									<img src='../images/tsa-pic3.jpg'>
								</div>
							</div>
						</div>
					</div>
				</div>


				<div class='zy4_contaniner4'>
					<div class="zy4_container4_text">
	                    <h4>横幅广告</h4>
                    	<p>支持多种规格尺寸，支持GIF、图片、图文 、文字链、H5富媒体；既能够满足您对大量曝光的需求，也支持应用直达，满足您对用户转化的需求。
                    	</p>
					</div>
					<div class="zy4_container4_pic">
						<div class='zy4_container4_paper'>
							<div class='zy4_yidong4'>
								<div class='zy4_color4'></div>
								<div class='zy4_xian_top4 xian4'></div>
								<div class='zy4_xian_bottom4 xian4'></div>
								<div class='zy4_color_pic4'>
									<img src='../images/tsa-pic4.jpg'>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>